COMPOSE_PROJECT_NAME="zapbot"
COMPOSE_FILE=docker/docker-compose.yml

# Whatsapp Number
PHONE_NUMBER=
# Syntax example: PHONE_NUMBER=5521999984444@c.us

#
# It enables the capability to send the generated qrcode over email.
#
QRCODE_EMAIL_ENABLE="false"
QRCODE_EMAIL_SMTP_HOST="smtp.mail.yahoo.com"
QRCODE_EMAIL_SMTP_PORT="465"
QRCODE_EMAIL_SMTP_USER="mysmtpaccount@yahoo.com.br"
QRCODE_EMAIL_SMTP_PASS="mySmtpPass"
QRCODE_EMAIL_SMTP_FROM="ZapBot Email <mysmtpaccount@yahoo.com.br>"
QRCODE_EMAIL_SMTP_TO="Hare Krishina <harerkishina@gmail.com>"
QRCODE_EMAIL_SMTP_ANTIPHISHING="JaspionIsOCara"

#
# GIPHY (/gif): crie uma chave em https://developers.giphy.com/
#
GIPHY_API_KEY=
